body {
  margin: 0;
  font-family: "Open Sans Condensed";
}

code {
  font-family: source-code-pro, Menlo;
}

a {
  text-decoration: none;
  color: black;
}

+ {
  box-sizing: border-box;
}
